<!-- templates/themes/simple/pagelayout.html.twig -->
<!doctype html>
<html>
<head>
    <title>Ibexa DXP Training</title>
</head>
<body>
This is in simple theme&apos;s page layout<br />
{% block content %}{% endblock %}
</body>
</html>