{% extends "@ezdesign/pagelayout.html.twig" %}
{%  block title %}
    {{ ez_content_name(content) }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ ez_content_name(content) }}</h1>
            {{ ez_render_field(content, 'body') }}
        </div>
    </div>
{% endblock %}
